#testing
**/*.pdf
**/*.log
**/*.csv
!data/raw notes/Wichita/*.pdf
**/*.txt
**/*.json

**/processing/output/
**/processing/output/logs/
**/processing/output/wichita/
**/logs/

# Database files
*.db
*.db-journal
*.db-wal
*.db-shm

# Python
__pycache__/
*.py[cod]
*$py.class
